{{!-- // VISUALIZAR UN CARRITO ESPECÏFICO, DONDE SE DEBERÁN LISTA SOLO LOS PRODUCTOS QUE PERTENEZCAN A DICHO CARRITO --}}
<div>
   <h1>Listado de Productos del carrito ID: {{idCart}}</h1>

   <div>
      <ul>
        {{#if products}}
        {{#each products}}
            <li>{{this.product.title}} - {{this.product.description}} - {{this.product.code}} - {{this.product.price}} - {{this.product.stock}} - {{this.product.category}}
        {{/each}}<br>
        {{else}}
            <h3>El carrito {{idCart}} está vacío</h3>
        {{/if}}

      </ul>
   </div>
