{{!-- // VISUALIZAR UN CARRITO ESPECÏFICO, DONDE SE DEBERÁN LISTA SOLO LOS PRODUCTOS QUE PERTENEZCAN A DICHO CARRITO --}}
<div>
   <h1>Listado de Productos del carrito ID: {{idCart}}</h1>

   <div>
      <ul>
        {{#each products}}
            <li>{{this.title}} - {{this.description}} - {{this.code}} - {{this.price}} - {{this.stock}} - {{this.category}}
        {{/each}}<br>
         {{!-- {{#if hasPrevPage}} --}}
         {{!-- <a href="/?page={{prevPage}}&limit={{limit}}&sort={{sort}}"><button>Anterior</button></a>
         {{/if}}
      
         {{#if hasNextPage}}
         <a href="/?page={{nextPage}}&limit={{limit}}&sort={{sort}}"><button>Siguiente</button></a>
         {{/if}} --}}
      </ul>
   </div>
