<div>
   <h1>Bienvenido {{user.name}}</h1>
   <h2>{{user.email}}</h2>
   {{#if user.is_admin}}
   <h2>Rol: Administrador</h2>
   {{else}}
   <h2>Rol: Usuario {{user.is_admin}}</h2>
   {{/if}}
    <a href="/api/sessions/logout"><button>Salir</button></a>
   <h2>Listado de Productos</h2>

   <div>
      <ul>
         {{#each products}}
         <li>{{this.title}} - {{this.description}} - {{this.code}} - {{this.price}} - {{this.stock}} - {{this.category}}
         {{/each}}<br>
         {{#if hasPrevPage}}
         <a href="/?page={{prevPage}}&limit={{limit}}&sort={{sort}}&query={{query}}"><button>Anterior</button></a>
         {{/if}}
      
         {{#if hasNextPage}}
         <a href="/?page={{nextPage}}&limit={{limit}}&sort={{sort}}&query={{query}}"><button>Siguiente</button></a>
         {{/if}}
         
      </ul>
   </div>
</div>