<div>
   <h1>Listado de Productos</h1>

   <div>
      <ul>
         {{#each products}}
         <li>{{this.title}} - {{this.description}} - {{this.code}} - {{this.price}} - {{this.stock}} - {{this.category}}
         {{/each}}<br>
         {{#if hasPrevPage}}
         <a href="/?page={{prevPage}}&limit={{limit}}&sort={{sort}}&query={{query}}"><button>Anterior</button></a>
         {{/if}}
      
         {{#if hasNextPage}}
         <a href="/?page={{nextPage}}&limit={{limit}}&sort={{sort}}&query={{query}}"><button>Siguiente</button></a>
         {{/if}}
         
      </ul>
   </div>
</div>