<div>
   <h1>Listado de Productos</h1>

   <ol>
      {{#each products}}
         <li>{{this.title}} - {{this.description}} - {{this.code}} - {{this.price}} - {{this.stock}} - {{this.category}}</li>
      {{/each}}
   </ol>
</div>
